@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Commissioner", sans-serif;;
}

:root {
    --BG-COLOR:hsl(176, 50%, 47%);
    --BG-DARK-COLOR: hsl(176, 72%, 28%);

    --NEUTRAL-BLACK: hsl(0, 0%, 0%);
    --DARK-GRAY: hsl(0, 0%, 48%);
    --COLOR: hsla(0, 0%, 100%, 0.973);

    --FONT-SIZE: 16px;
    /* font-family: "Commissioner", sans-serif; */
    /* font weights: 400, 500, 700 */
}


.head {
    width: 100%;
    height: 50vh;
    background-image: url(/images/desktop\ desktop.webp);
    background-position: center;
    background-size: cover;
    z-index: 1;
}


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

.menu {
    display: none;
}



.navList {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: var(--COLOR)
}

a:hover {
    transition-duration: .5s;
    transform: scale(1.5);
}



.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    row-gap: 1rem;
    
}

.cardOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40vw;
    height: 30vh;
    border-radius: 5px;
    box-shadow: 0px .1rem 3.2rem rgba(0, 0, 0, 0.03);
    z-index: 2;
    padding: 0 30px;
    margin-top: -7.5rem;
    
}

.cardOne div #img {
    width: 40px;
    height: 40px;
    margin-top: -4rem;
    margin-bottom: 24px;
}

.cardOne div h3 {
    margin: 2px 0;
}

.cardOne div {
    text-align: center;
}


.cardOne div p {
    font-size: 11px;
    font-weight: 500;
    color: var(--DARK-GRAY);
    margin-bottom: 32px;
}

.bookMark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}

.bookMark .button {
    border-radius: 50px;
    align-items: center;
    width: 7rem;
    height: 2.5rem;
    font-size: 11px;   
    font-weight: 600;
    cursor: pointer;
}

.bookMark .back {
    background: var(--BG-COLOR);
    color: var(--COLOR);
    border: none;
    
}

.back:hover, .reward:hover {
    background-color: hsla(176, 72%, 28%, 0.749);
    color: hsla(0, 0%, 100%, 0.751);
    transition-duration: .3s;
}


.marks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-right: 10px;
    padding-left: 0;
    border: none;
    color: var(--DARK-GRAY);
}

.marks .mage {
    width: 40px;
    height: 40px;
    border-right: 100px;
}

#mage{
    display: none;
}

.marks:hover {
    background-color: hsl(0, 0%, 88%);
    color: hsla(0, 0%, 70%, 0.842);
    transition-duration: .3s;
}



.cardTwo {
    width: 40vw;
    height: 20vh;
    border-radius: 5px;
    background: white; 
    box-shadow: 0px .1rem 3.2rem rgba(0, 0, 0, 0.03);
    padding: 30px ;
}

.innerCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.innerCard .boxOne {
    border-right: 1px solid rgb(185, 180, 180);
}

.innerCard .boxTwo {
    border-right: 1px solid rgb(185, 180, 180);
}


.cardTwo h3{
    height: 25px;
}

.cardTwo p{
    font-size: 11px;
    color: var(--DARK-GRAY);
}

.progress {
    width: 100%;
    height: 10px;
    background-color: rgb(205, 204, 204);
    border-radius: 50px;
    margin: 20px 0;
    
    
}

.progress .smallProg{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    width: 75%;
    border-radius: 50px;
    height: 10px;
    background-color: var(--BG-COLOR);
}

.cardThree {
    width: 40vw;
    height: auto;
    border-radius: 5px;
    background: white;
    box-shadow: 0px .1rem 3.2rem rgba(0, 0, 0, 0.03);
    padding: 30px;
}

.cardThree h4 {
    margin: 12px 0 16px 0;
}

.about, .ergStand, .bSpecialEdi, .mSpecialEdi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 11px;
    color: var(--DARK-GRAY);
    line-height: 20px;
    margin-bottom: 16px;
}

.bStand {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    padding: 20px;
    
}

.bPledge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    
}

.bamboo {
    font-weight: 600;
    font-size: 16px;
}

.pledge {
    font-size: 12px;
    font-weight: 500;
    color: var(--BG-COLOR);   
}

.rewardOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;  
}

.rewardOne p {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    gap: 5px;
}

.rewardOne span {
    font-size: 8px;
    color: gray;
}



.reward {
    border-radius: 50px;
    align-items: center;
    float: left;
    width: 7rem;
    height: 2.5rem;
    font-size: 11px;   
    font-weight: 600;
    cursor: pointer;
    background: var(--BG-COLOR);
    color: var(--COLOR);
    border: none;
}

.bEdition {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    padding: 20px;
    margin-top: 18px;
}

.black {
    font-weight: 600;
    font-size: 16px;
}

.last {
    color: hsla(176, 50%, 47%, 0.744);
}

.mEdition {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    padding: 20px;
    margin-top: 18px;
    color: rgb(206, 206, 206);
}

.mSpecialEdi{
    color: rgb(206, 206, 206);
}

.rewardTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;  
}

.disabled {
    border-radius: 50px;
    align-items: center;
    float: left;
    width: 7rem;
    height: 2.5rem;
    font-size: 11px;   
    font-weight: 600;
    cursor: pointer;
    background: rgb(206, 206, 206);
    color: var(--COLOR);
    border: none;
}


